.page {
  margin-top: 8rem;
  height: calc(100vh - 18rem);
}

.page section {
  width: 90%;
  max-width: 25rem;
  margin: auto;
}

.page form {
  background: none !important;
  padding: 0 !important;
}
