{% extends 'home/layout.html' %}
{% block body %}
  <title>Join Code Pirates</title>


  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card border-0 rounded-lg mt-5 shadow-lg">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Your Account</h3></div>
                    <div class="card-body">
                        <form action="/join/" method="POST">{% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputFirstName">First Name</label><input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter first name" name="first_name" value="{{first_name}}" required /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputLastName">Last Name</label><input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name" name="last_name" value="{{last_name}}" required /></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Username</label>
                                <input class="form-control py-4" id="inputUsername" type="text" aria-describedby="emailHelp" placeholder="Enter username" name="username" value="{{username}}" required />
                                {% if 'Username already taken' in errors %}
                                <p class="text-danger extra-large mt-2">{{errors.0}}</p>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" name="email" value="{{email}}" required />
                                {% if 'Email already taken' in errors %}
                                <p class="text-danger extra-large mt-2">{{errors.1}}</p>
                                {% endif %}
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password"  name="password" value="{{password}}" required /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm Password</label><input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm password"  name="confirm_password" value="{{confirm_password}}" required /></div>
                                </div>
                                <div class="container-fluid">
                                    {% if 'Password not matching' in errors %}
                                    <p class="text-danger extra-large mt-2">{{errors.2}}</p>
                                    {% endif %}
                                    {% if 'Password is too short' in errors %}
                                    <p class="text-danger extra-large mt-2">{{errors.3}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0"><input type="submit" value="Create Account" class="btn-block input_submit"></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="large"><a href="/login/">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section><!-- End Breadcrumbs -->
{% endblock %}